Source: galliumos-hidpi
Section: admin
Priority: required
Maintainer: reynhout <reynhout@galliumos.org>
XSBC-Original-Maintainer: reynhout <reynhout@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-hidpi
Architecture: all
Priority: required
Depends: galliumos-base
Replaces: galliumos-default-settings, galliumos-samus
Description: GalliumOS customizations for HiDPI displays
 This package contains HiDPI config files for GalliumOS
